version: "3.8"

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: stattracker
      MYSQL_USER: vatsal
      MYSQL_PASSWORD: vatsal123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  stattracker:
    build: .
    container_name: stattracker
    restart: always
    ports:
      - "5000:5000"
    environment:
      FLASK_ENV: development
    depends_on:
      - mysql-db

volumes:
  mysql_data:
